<div class="container-profile">
    <div class="container-profile">
        <p>Andrea Oliveri</p>
        <div class="profile">
            <div class="profile">
                <img src="../assets/img/aboutus/celina.jpg">
            </div>
            <div class="profile">
                <p>Section: Electrical Engineering</p>
                <p>E-mail: <a href="mailto:andrea.oliveri@alumni.epfl.ch"><b>andrea.oliveri@alumni.epfl.ch</b></a></p>
                <p>Github: <a href="https://github.com/Andrea-Oliveri"><b>https://github.com/Andrea-Oliveri</b></a></p>
                <p>LinkedIn: </p>
            </div>
        </div>
    </div>

    <div class="container-profile">
        <p>Célina Chkroun</p>
        <div class="profile">
            <div class="profile">
                <img src="../assets/img/aboutus/celina.jpg">
            </div>
            <div class="profile">
                <p>Section: Life Sciences Engineering</p>
                <p>E-mail: <a href="mailto:celina.chkroun@alumni.epfl.ch"><b>celina.chkroun@alumni.epfl.ch</b></a></p>
                <p>Github: <a href="https://github.com/chkroun"><b>https://github.com/chkroun</b></a></p>
                <p>LinkedIn: </p>
            </div>
        </div>
    </div>

    <div class="container-profile">
        <p>Mattia Lazzaroni</p>
        <div class="profile">
            <div class="profile">
                <img src="../assets/img/aboutus/mattia.jpg">
            </div>
            <div class="profile">
                <p>Section: Life Sciences Engineering</p>
                <p>E-mail: <a href="mailto:mattia.lazzaroni@alumni.epfl.ch"><b>mattia.lazzaroni@alumni.epfl.ch</b></a></p>
                <p>Github: <a href="https://github.com/lazzaron"><b>https://github.com/lazzaron</b></a></p>
                <p>LinkedIn: </p>
            </div>
        </div>
    </div>

    <div class="container-profile">
        <p>Kaourintin Tamine</p>
        <div class="profile">
            <div class="profile">
                <img src="../assets/img/aboutus/mattia.jpg">
            </div>
            <div class="profile">
                <p>Section: Computer Sciences</p>
                <p>E-mail: <a href="mailto:kaourintin.tamine@alumni.epfl.ch"><b>kaourintin.tamine@alumni.epfl.ch</b></a></p>
                <p>Github: <a href="https://github.com/kaoutamine"><b>https://github.com/kaoutamine</b></a></p>
                <p>LinkedIn: </p>
            </div>
        </div>
    </div>
</div>
